BEAMS: [11, -11]
BEAM_ENERGIES: 45.5938

ALPHAS(MZ): 0.1188
ORDER_ALPHAS: 1
PDF_LIBRARY: PDFESherpa
PDF_SET: Default
ISR_E_ORDER: 1
ISR_E_SCHEME: 2

PARTICLE_DATA:
  11:
    Massive: true

YFS:
  MODE: None

EVENT_FILE_PATH: .
EVENT_OUTPUT:
  - HepMC3[@OUTPUT_BASENAME@]
HEPMC3_IO_TYPE: 2
HEPMC3_SHORT: true

PROCESSES:
  - 11 -11 -> 93 93:
      Order: {QCD: 0, EW: 2}
